$blue: #3fb0ac;
$dark-blue: #3d50b4;
$grey: #e5e5e5;
$white: #fff;
$black: #000;
$black-background: rgba(0, 0, 0, .75);
$header-title: Lato, sans-serif;
$body-text: Merriweather, serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.full-page {
  height: 100%;
  position: relative;
  width: 100%;
}

.win-lose-outer {
  align-items: center;
  background-color: $black-background;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

.win-lose {
  text-align: center;
  z-index: 10;

  p {
    color: $white;
    font-family: $body-text;
    font-size: 30px;
  }

  a:link,
  a:active,
  a:visited {
    border: 2px solid $white;
    color: $white;
    font-family: $header-title;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }

  a:hover {
    background-color: $white;
    border: 2px solid $white;
    color: $black-background;
    font-family: $header-title;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
  }

  img {
    padding: 20px;
  }
}

header {
  background-color: $dark-blue;
  color: $white;
  overflow: hidden;
  padding-bottom: 10px;
  text-align: center;
}

h1 {
  font-family: $header-title;
  font-size: 30px;
}

.intro {
  color: $black;
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

h2 {
  font-family: $body-text;
  font-size: 20px;
  padding-bottom: 15px;
}

.timer {
  display: inline-block;
  font-family: $header-title;
  font-size: 16px;
  margin: 3px;
  text-transform: uppercase;

  a:link,
  a:active,
  a:visited {
    border: 2px solid $blue;
    color: $blue;
    padding: 10px;
    text-decoration: none;
  }

  a:hover {
    background-color: $blue;
    border: 2px solid $blue;
    color: $white;
    padding: 10px;
    text-decoration: none;
    transition: .5s;
  }
}

.countdown {
  color: $blue;
  font-size: 20px;
}

.choose-colors {
  margin: 0 auto;
}

.color-select {
  display: inline-block;
  margin: 20px 5px 5px;
  text-align: center;
}

.deck-one {
  background-color: $blue;
  height: 25px;
  padding: 5px;
  text-align: center;
  width: 25px;
}

.deck-two {
  background-color: $dark-blue;
  height: 25px;
  padding: 5px;
  text-align: center;
  width: 25px;
}

.deck-three {
  background-color: $black;
  height: 25px;
  padding: 5px;
  text-align: center;
  width: 25px;
}

.deck-four {
  background-color: $grey;
  height: 25px;
  padding: 5px;
  text-align: center;
  width: 25px;
}

.container {
  width: 80%;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
}

.card-back {
  align-items: center;
  background-color: $grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
}

[data-font="one"] {
  font-family: arial;
  font-size: 35px;
}

[data-font="two"] {
  font-family: verdana;
  font-size: 35px;
}

[data-font="three"] {
  font-family: 'times new roman';
  font-size: 35px;
}

[data-font="four"] {
  font-family: georgia;
  font-size: 35px;
}

[data-font="five"] {
  font-family: 'arial black';
  font-size: 35px;
}

[data-font="six"] {
  font-family: Impact;
  font-size: 35px;
}

.inactive {
  display: none;
}

footer {
  margin: 0 auto;
  text-align: center;
}
